.box{
  width: 450px;
  height: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-top: 50px;
}